<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"> Back to main</a>
    </header>
    <main>
        <img src="{{imgUrl}}" alt="{{imgAlt}}">
        <h1>{{title}}</h1>
        <p>Date <time datetime="{{date}}">{{date}}</time></p>
        {{ content }}
    </main>
    <footer>
        Written by Hosaro -- &copy; 2023
    </footer>
    
</body>
</html>